.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 100px;
}

nav {
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 80px;
  gap: 50px;
}

.books {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.book h4,
.book p {
  margin: 0;
}

.categorie {
  padding: 20px;
  margin: 0 80px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.form {
  display: flex;
  justify-content: space-between;
}
