.App {
  text-align: center;
}

.container {
  display: flex;
  background: #f4f6fa;
  flex-direction: column;
  padding: 20px 80px;
  gap: 50px;
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 25px;
    gap: 50px;
  }
}
